.App {
  text-align: center;
}

.b1{
  align-items: center;
  text-align: center;
  background-color: orange;
  font-size:large;
}
.App1{
  font-size: 60px;
 display: flex;
flex-direction: row;
margin-top: 100px; 
justify-content:right;
align-items: stretch; 
align-self: center;
 align-content: flex-end;

}
.bill {
  text-align: center;

font-size: 50px; 


}
.form{

font-size: large;
color:orange;

}
.label
{
margin-left: 1%;

}
.button1{

  font-size:large;
  text-align: center;
  background-color: orange;
margin-left: 8%;
width: 120px;
}
.button{
  margin-top: 0%;
  margin-right:90%;
  margin-left: 47%;
  font-size:large;
   text-align: center;
   background-color: orange;
   align-items: stretch; 
   align-self: center; 
   
   


} 

.txt{

  text-align: center;

  font-size: 20px; 

}
